{% extends "baseapp/baseapp.html" %}
{% load static %}
{% block main_content %}
    <div class="card m-3 p-3 cdiv" onclick="window.location.href='{% url "rider:message" %}'">
        <div class="row">
            <div class="col">
                <h4 class="ctext">Mirpur Bashi</h4>
            </div>
            <div class="col text-end">
                <p class="ctext">Member: 05</p>
            </div>
        </div>
    </div>
    <div class="card m-3 p-3 cdiv" onclick="window.location.href='{% url "rider:message" %}'">
        <div class="row">
            <div class="col">
                <h4 class="ctext">JFP Residents</h4>
            </div>
            <div class="col text-end">
                <p class="ctext">Member: 09</p>
            </div>
        </div>
    </div>

{% endblock main_content %}
{% block title %}Community{% endblock title %}