{% extends "baseapp/baseapp.html" %}
{% load static %}
{% block main_content %}

<div class="card m-3 p-3 cdiv">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4 ctext">Rider Name</h1>
        <p class="lead ctext">Email</p>
        <p class="lead ctext">Phone No</p>        
      </div>
      <div class="col-4 text-end">
        <img class="dashboardImg img-fluid img-thumbnail" src="{% static "img/profile.jpg" %}" alt="">
      </div>
    </div>
</div>

{% endblock main_content %}
{% block title %}Dashboard-Rider{% endblock title %}