{% extends "baseapp/baseapp.html" %}
{% load static %}
{% block main_content %}

<div class="card m-3 p-3 cdiv text-center">
    <div class="container w-25 text-start">
        <h4 class="ctext">Payment</h4>
        <p class="ctext">Amount: 450tk</p>
        <div class="row">
            <div class="col-4">
                <label class="ctext">
                    <input type="radio" name="pay">
                    Bkash
                </label>
            </div>
            <div class="col-4">
                <label class="ctext">
                    <input type="radio" name="pay">
                    Nagad
                </label>
            </div>
            <div class="col-4">
                <label class="ctext">
                    <input type="radio" name="pay">
                    Cash
                </label>
            </div>
        </div>
        <button class="cbutton mt-3 w-100">Pay</button>
    </div>
</div>

{% endblock main_content %}
{% block title %}Ride{% endblock title %}