{% extends "baseapp/baseapp.html" %}
{% load static %}
{% block main_content %}
    <div class="card m-3 p-3 cdiv">
        <h1 class="text-center ctext">Profile</h1>
        <div class="row mb-2">
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">First Name</label><br>
                <input class="cinput" type="text">
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Last Name</label><br>
                <input class="cinput" type="text">
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Email</label><br>
                <input class="cinput" type="email">
            </div>
        </div>
        <div class="row mb-2">
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Phone No</label><br>
                <input class="cinput" type="text">
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Gender</label><br>
                <div class="container d-flex justify-content-around">
                    <label class="ctext">
                        <input type="radio" name="gender" value="male">
                        Male
                    </label>
                    <label class="ctext">
                        <input type="radio" name="gender" value="female">
                        Female
                    </label>
                </div>
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">NID No</label><br>
                <input class="cinput" type="text">
            </div>
        </div>
        <div class="row mb-2">
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Date of Birth</label><br>
                <input class="cinput" type="date">
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Age</label><br>
                <input class="cinput" type="text">
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Email</label><br>
                <input class="cinput" type="text">
            </div>
        </div>
        <div class="row mb-2">
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Upload Photo</label><br>
                <img class="w-100" src="{% static "img/profile.jpg" %}" alt="">
                <input class="cinput" type="file">
            </div>
            <div class=" col-lg-4 col-12">
                <label class="ctext" for="">Password</label><br>
                <input class="cinput" type="password">
            </div>
        </div>
    </div>
{% endblock main_content %}
{% block title %}Profile-Rider{% endblock title %}