{% extends "baseapp/baseapp.html" %}
{% load static %}
{% block main_content %}

<div class="card m-3 p-3 text-center cdiv">
    <p class="ctext">
        Thank you for reaching out to us. I am very sorry to hear about your experience and want to assure you that your safety is our top priority.
    </p>
    <p class="ctext">
        I have received your message and am immediately looking into the situation.
    </p>
    <p class="ctext">
        We take all reports seriously and will work quickly to address this matter. In the meantime, if you are in immediate danger or need urgent assistance, please don’t hesitate to contact local emergency services.
    </p>
    <p class="ctext">
        If you have already contacted authorities, please let us know so that we can fully cooperate with them.
    </p>
    <p class="ctext">
        Rest assured, we will thoroughly investigate this and keep you informed every step of the way.
    </p>
    <p class="ctext">
        Thank you for bringing this to our attention. Please stay safe, and we will follow up with you shortly with an update on the actions we’re taking.
    </p>
</div>

{% endblock main_content %}
{% block title %}Emergency{% endblock title %}