{% extends "baseapp/baseapp.html" %}
{% load static %}
{% block main_content %}
    <div class="card m-3 p-3 cdiv">
        <h1 class="text-center ctext">Profile</h1>
        <div class="row">
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">First Name</label><br>
                <input class="cinput" type="text" value="{{user.first_name}}" readonly>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Last Name</label><br>
                <input class="cinput" type="text" value="{{user.last_name}}" readonly>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Email</label><br>
                <input class="cinput" type="email" value="{{user.email}}" readonly>
            </div>
        
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Phone No</label><br>
                <input class="cinput" type="text" value="{{user.pN}}" readonly>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Gender</label><br>
                <div class="container d-flex justify-content-around">
                    <label class="ctext">
                        {% if user.gender == "Male" %}
                        <input type="radio" name="gender" value="male" readonly checked>
                        {% else %}
                        <input type="radio" name="gender" value="male" readonly>
                        {% endif %}
                        Male
                    </label>
                    <label class="ctext">
                        {% if user.gender == "Female" %}
                        <input type="radio" name="gender" value="female" readonly checked>
                        {% else %}
                        <input type="radio" name="gender" value="female" readonly>
                        {% endif %}
                        Female
                    </label>
                </div>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">NID No</label><br>
                <input class="cinput" type="text" value="{{user.nid}}" readonly>
            </div>
            {% if user.type == "Driver" %}
                <div class=" col-lg-4 col-12 mb-2">
                    <label class="ctext" for="">Licence No</label><br>
                    <input class="cinput" type="text" value="{{user.licence}}" readonly>
                </div>
            {% endif %}
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Date of Birth</label><br>
                <input class="cinput" type="date" value="{{user.dob}}" readonly>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Age</label><br>
                <input class="cinput" type="text" value="{{user.age}}" readonly>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Password</label><br>
                <input class="cinput" type="password" value="{{user.password}}" readonly><br><br>
                <button  class="cbutton w-100" onclick="window.location.href='{% url "baseapp:changeProfile" %}'">Change Profile Info</button>
            </div>
            <div class=" col-lg-4 col-12 mb-2">
                <label class="ctext" for="">Profile Photo</label><br>
                {% if user.type == "Driver" %}
                    <img class="w-100" src="{% static "img/driver.jpeg" %}" alt="">
                {% elif user.type == "Rider" %}
                    <img class="w-100" src="{% static "img/profile.jpg" %}" alt="">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main_content %}
{% block title %}Profile{% endblock title %}